/** {
  outline: 1px solid red;
}*/

  @font-face {
    font-family: Open-sans;
    src: url('../fonts/OpenSans-Regular.woff');
    src: url('../fonts/OpenSans-Regular.ttf'),
    url('../fonts/OpenSans-Regular.woff2');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Open-sans;
    src: url('../fonts/OpenSans-Bold.woff');
    src: url('../fonts/OpenSans-Bold.ttf'),
    url('../fonts/OpenSans-Bold.woff2');
    font-weight: bold;
  }
  
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Open-sans, sans-serif;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 450px;
    background-image: url('../img/banner-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
  }
  
  .header::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #000;
    opacity: 0.7;
  }

  .header__logo {
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    width: 179px;
    height: 41px;
    z-index: 3;
  }
  
  .header__section {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__menu {
    display: flex;
    gap: 35px;
    width: 462px;
    margin: 30px 30px 0 0;
    /*padding-right: 30px;*/
  }
  
  .header__menu-link {
    display: block;
    text-decoration: none;
    z-index: 3;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
  }
  
  .menu-link {
    color: #fff;
    text-decoration: none;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }

  .burger {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    box-sizing: border-box;
    border: none;
    background: transparent;
    width: 30px;
    height: 14px;
    z-index: 3;
  }

  .burger::before, .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #fff;
  }

  .burger::before {
    top: 0;
    box-shadow: 0 6px 0 #fff;
  }

  .burger::after {
    bottom: 0;
  }
  
  .blog__title {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    justify-content: center;
    align-items: center;
  }
  
  .blog__title-content {
    display: block;
    margin: 0;
    max-width: 700px;
    z-index: 3;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 45px;
  }
  
  .body__container {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1240px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    justify-content: space-between;
  }
  
  .blog__container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .blog__section {
    display: flex;
    /*width: 780px;*/
    /*min-width: 390px;*/
    gap: 20px;
  }

  .blog__article {
    max-width: 390px;
  }
  
  .blog__section-image {
    max-width: 390px;
    margin: 0;
  }
  
  .article__header {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 10px;
  }
  
  .article__header-link {
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #b69f5c;
  }
  
  .article__header-link:hover {
    text-decoration: underline;
  }
  
  .artticle__title {
    width: 350px;
    font-size: 20px;
    /*line-height: 24px;*/
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .artticle__title-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  
  .artticle__title-link:hover {
    color: #b69f5c;
  }
  
  .article__info {
    display: flex;
    gap: 20px;
    font-size: 14px;
  }
  
  .article__data {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
  }
  
  .article__autor {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
  }

  .article-text {
    max-width: 360px;
  }
  
  .article__content {
    font-size: 15px;
    color: #0f0d0e;
    font-weight: 400;
  }
  
  .article__content:nth-child(n + 1) {
    margin-top: 16px;
  }
  
  .blog__sidebar {
    display: flex;
    width: 280px;
    flex-direction: column;
  }
  
  .aside__title {
    text-align: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
  }
  
  .aside__title::after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    background-color: #b59f5b;
    margin: 10px auto;
  }
  
  .aside__post {
    display: flex;
    margin-bottom: 20px;
  }
  
  .aside__post-data {
    opacity: 0.541;
    font-size: 12px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 400;
  }
  
  .aside__post-image {
    margin: 0;
    padding-top: 10px;
  }
  
  .aside__post-content {
    margin: 0 0 0 20px;
  }
  
  .aside__post-title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    margin: 0;
  }
  
  .aside__link {
    color: #000;
    text-decoration: none;
  }
  
  .aside__link:hover {
    color: #b69f5c;
  }
  
  .aside__form {
    padding: 0;
  }
  
  .aside__form-search {
    display: flex;
  }
  
  .input-search {
    box-sizing: border-box;
    display: block;
    width: 230px;
    height: 48px;
    padding-left: 25px;
    background-color: #f4f7f6;
    font-size: 13px;
    font-weight: 400;
    border: none;
    margin: 50px 0;
  }
  
  .input:hover {
    outline: solid 2px #b69f5c;
  }
  
  .button:hover {
    background-color: #323232;
  }
  
  .search-button {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    background-image: url('../svg/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px;
  }
  
  .input-email {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    padding-left: 25px;
    border: none;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    background-color: #f5f7f6;
    margin-bottom: 10px;
  }
  
  .input-submit {
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    margin-bottom: 50px;
    font-size: 14px;    
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
  }
  
  .tegs-table {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 50px;
    list-style-type: none;
    padding-left: 0;
  }
  
  .aside__tegs-table {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    border: solid 3px #eeeeee;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    background-color: rgba(244, 243, 241, 0);
    font-weight: bold;
    font-size: 14px;
  }
  
  .aside__tegs-table:hover {
    border-color: #b69f5c;
  }
  
  .aside__topics {
    list-style-type: none;
    padding-left: 0;
  }
  
  .topics-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
  }
  
  .topics-row {
    display: flex;
    padding-top: 10px;
    border-bottom: solid 1px #eeeeee;
  }
  
  .aside__topics-index {
    display: block;
    vertical-align: super;
    padding-left: 5px;
    color: #b69f5c;
    font-size: 11px;
    font-weight: 700;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .footer__si {
    list-style-type: none;
    padding-left: 0;
    height: 85px;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    align-items: center;
    background-color: #f5f7f6;
  }
  
  .footer__icon {
    display: block;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
  }
  
  .list__si:nth-child(n+2) {
    margin-left: 50px;
  }
  
  .visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .icon__dribbble {
    background-image: url('../svg/001-dribbble.svg');
  }
  
  .icon__pinterest {
    background-image: url('../svg/002-pinterest.svg');
  }
  
  .icon__tumblr {
    background-image: url('../svg/003-tumblr.svg');
  }
  
  .footer__copyright {
    text-align: center;
    padding: 40px 0;
    font-size: 12px;
    color: #999999;
    font-weight: 700;
  }
  
  .in__trends {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }
  
  .in__trend-main {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    gap: 10px;
  }
  
  .in__trends-title {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .in__trends__title {
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
  }
  
  .in__trends__title::after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    background-color: #b59f5b;
    margin: 10px auto;
  }
  
  .in__trends-card {
    box-sizing: border-box;
    position: relative;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: calc(100% / 4 - 0.5vw);
    padding: 1vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }

  .in__trends-card:nth-child(1) {
    background-image: url('../img/trend1.jpg');
  }

  .in__trends-card:nth-child(2) {
    background-image: url('../img/trend2.jpg');
  }

  .in__trends-card:nth-child(3) {
    background-image: url('../img/trend3.jpg');
  }

  .in__trends-card:nth-child(4) {
    background-image: url('../img/trend4.jpg');
  }
  
  .in__trends-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000;
    opacity: 0.6;
    z-index: 2;
  }
  
  .in__trend-group {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 1vw;
    border: 3px solid #b59f5b;
    z-index: 3;
  }
  
  .in__trends-category {
    width: 100%;
  }
  
  .in__trends-list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    margin-left: 1vw;
    gap: 10px;
  }
  
  .in__trends-row {
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    color: #b69f5c;
    z-index: 3;
  }
  
  .in__trends-row:hover {
    text-decoration: underline;
  }
  
  .in__trends_cardtitle {
    width: calc(100% - 1vw);
    margin-left: 1vw;
    z-index: 3;
  }
  
  .cardtitle {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
  }

  .cardtitle-link {
    cursor: pointer;
  }
  
  .cardtitle:hover {
    color: #b59f5b;
  }
  
  .shop {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .shop__title {
    margin: 20px auto;
  }
  
  .shop__title-text {
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
  }
  
  .shop__title-text::after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    background-color: #b59f5b;
    margin: 10px auto;
  }
  
  .product__cards {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    gap: 70px;
  }
  
  .product__card {
    display: flex;
    box-sizing: border-box;
    width: calc(100% / 3 - 35px);
    flex-direction: column;
    /*padding: 0 23px;*/
  }
  
  .product__img {
    margin: 0 auto;
    /*width: 100%;*/
  }

  .img__desk {
    width: 100%;
  }
  
  .product__source {
    box-sizing: border-box;
    outline: solid 3px #b59f5b;
    outline-offset: 23px;
  }
  
  .product__title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
  }
  
  .card__text {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
  }
  
  .card__link {
    color: #b59f5b;
    text-decoration: none;
  }
  
  .card__link:hover {
    text-decoration: underline;
  }
  
  .product-info {
    display: flex;
    padding-top: 45px;
  }
  
  .product__price {
    width: calc(100% - 141px);
  }
  
  .card__button {
    width: 140px;
    height: 48px;
    background-color: #b59f5b;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    border: none;
  }
  
  .card__button:hover {
    background-color: #323232;
  }
  
  .old__price {
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
  }
  
  .new__price {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
  }  

  .banner {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 890px;
    z-index: 4;
    visibility: hidden;
  }

  .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.600;
    z-index: 5;
  }

  .banner__form {
    display: block;
    position: relative;
    width: 390px;
    height: 600px;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 30px;
    z-index: 6;
  }

  .banner__close {
    content: '';
    position: absolute;
    top: -30px;
    right: -30px;
    width: 20px;
    height: 20px;
    background-image: url('../svg/form-x.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 6;
    cursor: pointer;
  }

  .banner__title {
    font-size: 13px;
    /*line-height: 40px;*/
    color: #000000;
    font-weight: 400;
    margin: 0px;
  }

  .banner__quantity {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 17px 20px;
    border: none;
    width: 100%;
    height: 50px;
    opacity: 0.541;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    background-color: #f4f7f6;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../svg/form-arrows.svg');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center right 15px;
    margin-bottom: 20px;
  }

  .banner__quantity:focus {
    background-color: #f4f7f6;
    outline: 1px solid #b59f5b;
  }

  .banner__radio {
    display: flex;
    box-sizing: border-box;
    list-style: none;
    width: 220px;
    margin-left: 0px;
    padding: 0px;
    gap: 20px;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
  }

  .radio__list {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative;
    padding-left: 5px;
    margin-right: 15px;
    line-height: 16px;
  }

  .radio__list::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url('../svg/form-empty-circle.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center left;
  }

  .radio__list:checked::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url('../svg/form-circle.svg');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center left;
  }

  .textarea__title {
    font-size: 13px;
    line-height: 13px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .banner__textarea {
    width: 100%;
    max-width: 310px;
    min-width: 310px;
    height: 140px;
    background-color: #f4f7f6;
    font-family: Open-sans;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding-top: 10px;
    padding-left: 20px;
  }

  .banner__textarea:focus {
    background-color: #f4f7f6;
    outline: 1px solid #b59f5b;
  }

  .banner__submit {
    width: 333px;
    height: 48px;
    background-color: #b59f5b;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    border: none;
  }

  /*@media(max-width: 1110px) and (min-width: 769px) {
   
    .body__container {
      justify-content: space-around;
    }
   
    .blog__section {
      flex-direction: column;
      max-width: 390px;            
    }
  }*/

  @media(max-width: 1200px) and (min-width: 641px) {
    body {
      /*max-width: 768px;*/
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .header {
      width: 100%;
      padding-top: 29px;
      /*height: 390px*/;
      background-image: url('../img/banner-bg-tablet.jpg');
    }

    .header__section {
      justify-content: space-between;
    }

    /*.header__logo {
      position: absolute;
      top: 25px;
      left: 20px;
      width: 11rem;
      height: 2.6rem;
      z-index: 3;
    }*/

    .header__menu {
      display: none;
    }

    .burger {
      display: block;
      cursor: pointer;
    }

    .blog__title {
      margin: 100px 0 0 0;
    
    }

    .blog__title-content {
      font-size: 40px;
    }

    .in__trends {
      height: auto;
    }

    .in__trends__title {
      font-size: 18px;
    }

    .in__trend-main {
      flex-wrap: wrap;
      justify-content: space-around;
      height: auto;
    }

    .in__trends-card {
      width: calc(100% / 2 - 0.9vw);
      padding: 1vw;
    }

    .body__container {
      width: 100%;
      margin-top: 65px;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-around;
    }

    .blog__section {
      flex-direction: column;
      max-width: 390px;            
    }

    .blog-image {
      max-width: 390px;
      width: 100%;
    }

    .input-search {
      width: 100%;
    }
    
    .search-button {
      width: 30%;
    }

    .input-email {
      width: 100%;
    }
    
    .input-submit {
      width: 100%;
    }

    .product__cards {
      flex-wrap: wrap;
      gap: 10px;
      /*padding-left: 20px;*/
    }

    .product__card {
      width: calc(50% - 5px);
      padding: 0 23px;
    }

    .img__tablet {
      width: 100%;
    }
    
    .footer {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }

    .banner {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .banner__form {      
      max-width: 390px;
      width: 96vw;
    }

    .banner__close {
      right: 0px;
    }
  }

  /*@media(max-width: 560px) {
    .product__cards {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 0 2vw;
      margin: 0 auto;
    }

    .product__card {
      width: 100%;
      margin-bottom: 7vh;
    }
  }*/

  @media(max-width: 640px) {
    body {
      box-sizing: border-box;
      /*max-width: 360px;*/
      width: 100%;
    }

    .header {
      padding-top: 10px;
      height: 80vh;
      background-image: url('../img/banner-mobile.jpg');
    }

    .header__logo {
      margin-top: 30vw;
      z-index: 3;
    }

    .header__section {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .header__menu {
      display: none;
    }

    .burger {
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
      margin-top: 2vh;
      cursor: pointer;
      width: 5vw;
    }

    .blog__title {
      display: block;
      box-sizing: border-box;
      margin-top: 20vh;
      margin-left: 12vw;
      z-index: 3;     
    }

    .blog__title-content {
      font-size: 26px;
      line-height: 36px;
      width: 80vw;
    }

    .in__trends {
      height: auto;
      margin-bottom: 5vh;
    }

    .in__trends__title {
      font-size: 16px;
    }

    .in__trend-main {
      display: block;
      height: auto;
      gap: 10px;
    }

    .in__trend-group {
      width: calc(100% - 4vw);
      margin: 10px auto;
    }

    .in__trends-card {
      width: 100vw;
      margin-bottom: 1vh;
    }

    .body__container {
      display: block;
      width: 100%;
      margin: 2vw 0 0 0;
    }

    .blog__container {
      max-width: 390px;
      margin: 0 auto;
    }

    .blog__section {
      width: calc(100%-4vw);
      display: block;
      padding: 0 2vw;
      position: relative;
    }

    .blog__section::after {
      content: '';
      display: block;
      position: absolute;
      left: -2vw;
      bottom: -4vw;
      width: 100%;
      margin: 0 2vw;
      height: 3px;
      background-color: #eeeeee;
    }

    .blog-image {
      width: 100%;
    }

    .article__header-link {
      font-size: 14px;
      line-height: 40px;
      font-weight: 700;
    }

    .article__info {
      font-size: 14px;
      line-height: 40px;
    }

    .artticle__title {
      display: block;
      width: 100%;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      color: #0f0d0e;
      font-weight: 700;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .article__content {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      color: #0f0d0e;
      font-weight: 400;
    }

    .blog__sidebar {
      display: block;
      max-width: 290px;
      margin: 0 auto;
      width: calc(100% - 4vw);
      padding: 5vh 2vw;
    }

    .input-search {
      /*box-sizing: border-box;*/
      max-width: 230px;
    }

    .search-button {
      width: 20%;
    }

    .input-email {
      width: 100%;
    }
    
    .input-submit {
      width: 100%;
    }

    .aside__tegs-table {
      font-size: 12px;
      font-weight: 700;
      height: 20px;
    }

    .product__cards {
      display: block;
      width: 100%;
      max-width: 390px;
      margin: 0 auto;
      padding: 0 2vw;
      margin: 0 auto;
    }

    .product__card {
      width: 100%;
      margin-bottom: 7vh;
    }

    .product__img {
      width: 100%;
    }

    .img__mobile {
      width: 100%;      
    }

    .product__source {
      outline-offset: 23px;
    }

    .footer {
      display: block;
    }

    .banner {
      display: flex;
      width: 100vw;
      height: 100vh;
      z-index: 10;
    }

    .banner__form {
      width: 96vw;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
    }

    .banner__textarea { 
      box-sizing: border-box;     
      width: calc(96vw - 40px);
      max-width: 260px;
      /*min-width: 260px;*/
    }

    .banner__submit {
      width: 100%;
      height: 48px;
    }

    .banner__close {
      top: -30px;
      right: 5px;
      margin-top: 5px;
    }
  }